@using Microsoft.AspNetCore.Http
@{
    var sessionValue = Context.Session.GetString("Login");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/first.styles.css" asp-append-version="true" />

    <style>

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

            nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                font-family: serif
            }

                nav ul.nav-left {
                    flex: 1;
                }
        .nav-right-container {
            border: 2px solid #ffeb3b;
            border-radius: 5px;
            padding: 5px 10px;
            margin-left: auto;
        }

        nav ul.nav-right {
            display: flex;
        }

        nav li {
            margin: 0 15px;
        }

        nav a {
            color: #ffeb3b;
            text-decoration: none;
            font-size: 1.2em;
            transition: color 0.3s;
        }


        nav a:hover {
            color: #fff;
        }



    </style>

</head>
<body>
    <header>        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">first</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        
                        <li><a asp-page="/Content/Index">Home</a></li>
                        <li><a asp-page="/Content/About">About</a></li>

                        <li><a asp-page="/Content/Gallery">Gallery</a></li>

                        <li><a asp-page="/Content/Quiz">Quiz</a></li>

                        <li><a asp-page="/Content/Contact">Contact</a></li>
                        <li><a asp-page="/Content/Family">Family</a></li>

                        
                        
                    </ul>

                    <ul class="nav-right">
                        <li><a asp-page="/Content/SignUp">Register</a></li>
                        <li><a asp-page="/Content/SignIn">Sign In</a></li>
                    </ul>
                </div>              
            </div>
            @if (string.IsNullOrEmpty(sessionValue))
            {
                <span class="navbar-text"> Welcom Visotor</span>
            }
            else
            {
                <span class="navbar-text">Wellcom  @sessionValue</span>
                <div class="d-flex">
                    <a class="btn btn-outline-dark btn-sm ms-1" href="/Content/LogOut" role="button">Logout</a>
                </div>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - first - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
