@page
@model first.Pages.Content.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <h1 class="display-4">Access Denied</h1>
                <p class="lead">You do not have permission to view this page.</p>
                <hr class="my-4">
                <p>Please contact your administrator if you believe this is an error.</p>
                <a class="btn btn-primary btn-lg" href="/" role="button">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>